<div data-component="group" class={{this.className}} ...attributes>
  <div class={{this.groupLabelClassName}}>
    {{@label}}
  </div>
  <div class={{this.groupOptionsClassName}}>
    {{yield}}
  </div>
</div>