<div class="native-simple-select {{if this.isFocused "native-simple-select--focused"}}" ...attributes>
  <div class="native-simple-select__display-label">
    {{this.displayLabel}}
  </div>
  <NativeSelectBox
    onfocus={{action "focused"}}
    onblur={{action "blurred"}}
    @value={{@value}}
    @onSelect={{@onSelect}}
    @onUpdate={{action "updateDisplay"}} as |sb|>
    {{yield sb}}
  </NativeSelectBox>
</div>