<div class="simple-select-display-label">
  {{this.displayLabel}}
</div>
<NativeSelectBox
  onfocus={{action "focused"}}
  onblur={{action "blurred"}}
  @value={{@value}}
  @onSelect={{@onSelect}} as |sb|>
  {{yield sb}}
</NativeSelectBox>