<div class="native-simple-select {{if this.isFocused "native-simple-select--focused"}}" ...attributes>
  <div class="native-simple-select__display-label">
    {{this.displayLabel}}
  </div>
  <NativeSelectBox
    onfocus={{this.handleFocus}}
    onblur={{this.handleBlur}}
    @value={{@value}}
    @onSelect={{@onSelect}}
    @onUpdate={{this.updateDisplay}} as |sb|>
    {{yield sb}}
  </NativeSelectBox>
</div>