<div class="simple-select-display-label">
  {{this.displayLabel}}
</div>
<NativeSelectBox
  @value={{@value}}
  @on-select={{@on-select}}
  @on-focus-in={{action "focusIn"}}
  @on-focus-out={{action "focusOut"}} as |sb|>
  {{yield sb}}
</NativeSelectBox>