<div class="native-simple-select" ...attributes>
  <div class="native-simple-select__display-label">
    {{this.displayLabel}}
  </div>
  <NativeSelectBox
    @value={{@value}}
    @onSelect={{@onSelect}}
    @onUpdate={{this.updateDisplay}}
    as |sb|
  >
    {{yield sb}}
  </NativeSelectBox>
</div>