<div
  class="native-simple-select
    {{if this.isFocused "native-simple-select--focused"}}"
  ...attributes
>
  <div class="native-simple-select__display-label">
    {{this.displayLabel}}
  </div>
  <NativeSelectBox
    @value={{@value}}
    @onSelect={{@onSelect}}
    @onUpdate={{this.updateDisplay}}
    {{on "focus" this.handleFocus}}
    {{on "blur" this.handleBlur}} as |sb|
  >
    {{yield sb}}
  </NativeSelectBox>
</div>