<div class="simple-select-display-label">
  {{this.displayLabel}}
</div>
<NativeSelectBox
  @value={{@value}}
  @onSelect={{@onSelect}}
  @onFocusIn={{action "focusIn"}}
  @onFocusOut={{action "focusOut"}} as |sb|>
  {{yield sb}}
</NativeSelectBox>