<SelectBox
  @classNamePrefix="tag-select"
  @value={{@value}}
  @searchMinChars={{0}}
  @searchDelayTime={{0}}
  @onPressEscape={{this.close}}
  @onPressDown={{this.pressedDown}}
  @onPressUp={{this.pressedUp}}
  @onClickOutside={{this.close}}
  @onSelect={{this.addTag}}
  @onSearch={{fn this.updateAvailableTags @onSearch}}
  ...attributes as |sb|>

  <sb.SelectedOptions>
    {{#each @value as |tag|}}
      <sb.SelectedOption>
        {{tag}}
        <button
          type="button"
          onclick={{fn this.removeTag tag}}
          class="tag-select__remove">
          &times;
        </button>
      </sb.SelectedOption>
    {{/each}}
  </sb.SelectedOptions>

  <sb.Input
    onclick={{fn this.reveal sb @onSearch}}
    autofocus={{true}}
    @onInput={{sb.open}}
    @onDelete={{fn this.removeTag @value.lastObject}} />

  {{#if sb.isOpen}}
    <sb.Options>
      {{#if this.availableTags.length}}
        {{#each this.availableTags as |tag|}}
          <sb.Option @value={{tag}}>{{tag}}</sb.Option>
        {{/each}}
      {{else if this.newTag}}
        <sb.Option @value={{this.newTag}}>
          No tag found, add {{this.newTag}}...
        </sb.Option>
      {{/if}}
    </sb.Options>
  {{/if}}
</SelectBox>