<SelectBox
  class="tag-select"
  @value={{@value}}
  @multiple={{true}}
  @searchMinChars={{0}}
  @searchDelayTime={{0}}
  @onPressEscape={{this.close}}
  @onFocusLeave={{this.close}}
  @onSelect={{this.select}}
  @onBuildSelection={{this.addValue}}
  @onSearch={{@onSearch}}
  @onSearched={{this.handleSearched}}
  ...attributes as |sb|
>
  <sb.SelectedOptions>
    {{#each @value as |tag|}}
      <sb.SelectedOption>
        {{tag}}
        <button
          type="button"
          class="tag-select__remove"
          aria-label="Deselect {{tag}}"
          {{on "click" (fn this.deselect tag sb)}}
        >
          &times;
        </button>
      </sb.SelectedOption>
    {{/each}}
  </sb.SelectedOptions>

  <sb.Input
    autofocus={{true}}
    @onDelete={{this.deselectLast}}
    {{on "click" (fn this.reveal sb)}}
    {{on "input" sb.open}}
  />

  {{#if sb.isOpen}}
    <sb.Options>
      {{#if this.availableTags.length}}
        {{#each this.availableTags as |tag|}}
          <sb.Option @value={{tag}} aria-label="Select {{tag}}">
            {{tag}}
          </sb.Option>
        {{/each}}
      {{else if this.lastQuery}}
        <sb.Option @value={{this.lastQuery}}>
          No tag found, add {{this.lastQuery}}...
        </sb.Option>
      {{/if}}
    </sb.Options>
  {{/if}}
</SelectBox>