<SelectBox
  @classNamePrefix="tag-select"
  @value={{@value}}
  @searchMinChars={{0}}
  @searchDelayTime={{0}}
  @onPressEscape={{action "close"}}
  @onPressDown={{action "pressedDown"}}
  @onPressUp={{action "pressedUp"}}
  @onClickOutside={{action "close"}}
  @onSelect={{action "addTag"}}
  @onSearch={{action "updateAvailableTags" @onSearch}} as |sb|>

  <sb.SelectedOptions>
    {{#each @value as |tag|}}
      <sb.SelectedOption>
        {{tag}}
        <button
          onclick={{action "removeTag" tag}}
          class="tag-select-remove">
          &times;
        </button>
      </sb.SelectedOption>
    {{/each}}
  </sb.SelectedOptions>

  <sb.Input
    autofocus={{true}}
    onclick={{action "reveal" sb @onSearch}}
    @onInput={{sb.open}}
    @onDelete={{action "removeTag" @value.lastObject}} />

  {{#if sb.isOpen}}
    <sb.Options>
      {{#if this.availableTags.length}}
        {{#each this.availableTags as |tag|}}
          <sb.Option @value={{tag}}>{{tag}}</sb.Option>
        {{/each}}
      {{else if this.newTag}}
        <sb.Option @value={{this.newTag}}>
          No tag found, add {{this.newTag}}...
        </sb.Option>
      {{/if}}
    </sb.Options>
  {{/if}}
</SelectBox>