{{! template-lint-disable no-positive-tabindex no-down-event-binding }}
{{!
Issue affects attributes `role`, `onclick`, `onmousedown`, `tabindex`
https://github.com/emberjs/rfcs/issues/497
}}
<div
  class="select-box__selected-option"
  id={{this.id}}
  role={{@role}}
  onclick={{@onclick}}
  onmousedown={{@onmousedown}}
  tabindex={{@tabindex}}
  ...attributes
  {{did-insert this.handleInsertElement}}
  {{will-destroy this.handleDestroyElement}}
>
  {{yield}}
</div>