<option
  {{did-insert (action "_registerDomElement")}}
  {{will-destroy (action "_deregisterDomElement")}}
  class={{select-box-class @classNamePrefix "option"}}
  id={{this.domElementId}}
  selected={{this.isSelected}}
  value={{this.internalValue}}
  ...attributes>
  {{~yield (hash
    index=this.index
    value=this.internalValue
    isPending=this.isPending
    isRejected=this.isRejected
    isFulfilled=this.isFulfilled
    isSettled=this.isSettled
    isSelected=this.isSelected
    isDisabled=this.isDisabled
  )~}}
</option>