<option
  {{did-insert this.handleInsertElement}}
  {{will-destroy this.handleDestroyElement}}
  class={{concat this.className "__option"}}
  selected={{this.isSelected}}
  value={{this.resolvedValue}}
  ...attributes>
  {{~yield this.api~}}
</option>