<option
  data-component="option"
  class={{concat this.className "__option"}}
  selected={{this.isSelected}}
  value={{this.resolvedValue}}
  ...attributes
  {{did-insert this.handleInsertElement}}
  {{will-destroy this.handleDestroyElement}}
>
  {{~yield this.api~}}
</option>