<option
  {{did-insert (action "didInsertElement")}}
  {{will-destroy (action "willDestroyElement")}}
  class={{select-box-class @classNamePrefix "option"}}
  selected={{this.isSelected}}
  value={{this.resolvedValue}}
  ...attributes>
  {{~yield (hash
    index=this.index
    value=this.resolvedValue
    isPending=this.isPending
    isRejected=this.isRejected
    isFulfilled=this.isFulfilled
    isSettled=this.isSettled
    isSelected=this.isSelected
    isDisabled=this.isDisabled
  )~}}
</option>