{{! template-lint-disable no-invalid-interactive }}
{{!
Issue affects `onclick` attribute
https://github.com/emberjs/rfcs/issues/497
}}
<div
  class="select-box__selected-options"
  id={{this.id}}
  onclick={{@onclick}}
  ...attributes
  {{did-insert this.handleInsertElement}}
  {{will-destroy this.handleDestroyElement}}
>
  {{~yield~}}
</div>