<option
  class={{this.className}}
  selected={{this.isSelected}}
  value={{this.resolvedValue}}
  ...attributes
  {{did-insert this.handleInsertElement}}
  {{did-update this.handleUpdateValue @value}}
  {{will-destroy this.handleDestroyElement}}
>
  {{~yield this.api~}}
</option>