<option
  class="select-box__option"
  selected={{this.isSelected}}
  value={{this.value}}
  ...attributes
  {{this.registerElement}}
  {{this.lifecycleActions}}
  {{this.receiveValue @value}}
>
  {{~yield this.api~}}
</option>