<div
  {{did-insert (action "didInsertElement")}}
  {{will-destroy (action "willDestroyElement")}}
  {{on "focusin" (action "onFocusIn")}}
  {{on "focusout" (action "onFocusOut")}}
  {{on "keydown" (action "onKeyDown")}}
  {{on "keypress" (action "onKeyPress")}}
  aria-expanded={{if this.isOpen "true" "false"}}
  aria-busy={{if this.isBusy "true" "false"}}
  aria-disabled={{if this.isDisabled "true" "false"}}
  aria-multiselectable={{if this.isMultiple "true" "false"}}
  aria-activedescendant={{this.activeOption.domElementId}}
  class={{concat
    (select-box-class @classNamePrefix)
    (if this.isOpen " is-open")
    (if this.isFocused " is-focused")
    (if this.isDisabled " is-disabled")
    (if this.isMultiple " is-multiple")
    (if this.isSearching " is-searching")
    (if this.isSlowSearch " is-slow-search")
  }}
  id={{this.domElementId}}
  multiple={{this.isMultiple}}
  role={{this.role}}
  tabindex={{this.tabIndex}}
  ...attributes>
  {{yield (hash
    SelectedOptions=(component "select-box/selected-options"
      classNamePrefix=@classNamePrefix
      _onInit=(action "_registerSelectedOptionsContainer")
      _onDestroy=(action "_deregisterSelectedOptionsContainer"))
    SelectedOption=(component "select-box/selected-option"
      selectBox=this
      classNamePrefix=@classNamePrefix
      _onActivate=(action "onActivateSelectedOption")
      _onInit=(action "_registerSelectedOption")
      _onDestroy=(action "_deregisterSelectedOption"))
    Options=(component "select-box/options"
      classNamePrefix=@classNamePrefix
      _onInit=(action "_registerOptionsContainer")
      _onDestroy=(action "_deregisterOptionsContainer"))
    Option=(component "select-box/option"
      selectBox=this
      classNamePrefix=@classNamePrefix
      _onActivate=(action "onActivateOption")
      _onSelect=(action "onSelectOption")
      _onDestroy=(action "onDestroyOption")
      _onInit=(action "onInitOption"))
    Group=(component "select-box/group"
      classNamePrefix=@classNamePrefix)
    Input=(component "select-box/input"
      api=this.api
      selectBox=this
      aria-controls=this.domElementId
      disabled=this.isDisabled
      classNamePrefix=@classNamePrefix
      _onInit=(action "onInitInput")
      _onDestroy=(action "onDestroyInput")
      _onInput=(action "onInputText"))
    element=this.domElement
    value=this.resolvedValue
    isPending=this.isPending
    isRejected=this.isRejected
    isFulfilled=this.isFulfilled
    isSettled=this.isSettled
    isSearching=this.isSearching
    isSlowSearch=this.isSlowSearch
    isOpen=this.isOpen
    open=(action "open")
    close=(action "close")
    toggle=(action "toggle")
    select=(action "select")
    update=(action "update")
    selectActiveOption=(action "selectActiveOption")
    search=(action "search")
    cancelSearch=(action "cancelSearch")
    setInputValue=(action "setInputValue")
    focusInput=(action "focusInput")
    blurInput=(action "blurInput")
    activateOptionAtIndex=(action "activateOptionAtIndex")
    activateNextOption=(action "activateNextOption")
    activatePreviousOption=(action "activatePreviousOption")
    deactivateOptions=(action "deactivateOptions")
    activateSelectedOptionAtIndex=(action "activateSelectedOptionAtIndex")
    activateNextSelectedOption=(action "activateNextSelectedOption")
    activatePreviousSelectedOption=(action "activatePreviousSelectedOption")
    deactivateSelectedOptions=(action "deactivateSelectedOptions")
  )}}
</div>