{{! template-lint-disable no-positive-tabindex }}
<div
  aria-expanded={{if this.isOpen "true" "false"}}
  aria-busy={{if this.isBusy "true" "false"}}
  aria-disabled={{if this.isDisabled "true" "false"}}
  aria-multiselectable={{if this.isMultiple "true" "false"}}
  aria-activedescendant={{this.activeOption.id}}

  {{! Issue: https://github.com/emberjs/rfcs/issues/497 }}

  class={{this.className}}
  id={{this.id}}
  multiple={{this.isMultiple}}
  role={{this.role}}
  tabindex={{this.tabIndex}}
  ...attributes
  {{did-insert this.handleInsertElement}}
  {{will-destroy this.handleDestroyElement}}
  {{on "focusin" this.handleFocusIn}}
  {{on "focusout" this.handleFocusOut}}
  {{on "keydown" this.handleKeyDown}}
  {{on "keypress" this.handleKeyPress}}
>
  {{#let
    (hash
      Options=(component
        "select-box/options"
        selectBox=this
        _onInit=this.handleInitOptionsContainer
        _onDestroy=this.handleDestroyOptionsContainer
      )
      Option=(component
        "select-box/option"
        selectBox=this
        _onActivate=this.handleActivateOption
        _onSelect=this.handleSelectOption
        _onDestroy=this.handleDestroyOption
        _onInit=this.handleInitOption
      )
      SelectedOptions=(component
        "select-box/selected-options"
        selectBox=this
        _onInit=this.handleInitSelectedOptionsContainer
        _onDestroy=this.handleDestroySelectedOptionsContainer
      )
      SelectedOption=(component
        "select-box/selected-option"
        selectBox=this
        _onActivate=this.handleActivateSelectedOption
        _onInit=this.handleInitSelectedOption
        _onDestroy=this.handleDestroySelectedOption
      )
      Group=(component
        "select-box/group"
        selectBox=this
      )
      Input=(component
        "select-box/input"
        selectBox=this
        aria-controls=this.id
        disabled=this.isDisabled
        _onInit=this.handleInitInput
        _onDestroy=this.handleDestroyInput
        _onInput=this.handleInputText
      )
    ) as |components|
  }}
    {{yield (merge components this.api)}}
  {{/let}}
</div>