{{! template-lint-disable no-invalid-interactive no-positive-tabindex }}
{{!
Issue affects `onclick` attribute
https://github.com/emberjs/rfcs/issues/497
}}
<div
  aria-multiselectable="{{this.isMultiSelectable}}"
  class="select-box__options"
  id={{this.id}}
  role={{if @selectBox.isCombobox "listbox"}}
  onclick={{@onclick}}
  tabindex={{@tabindex}}
  ...attributes
  {{this.lifecycleHooks
    didInstall=this.handleInsertElement
    willDestroy=this.handleDestroyElement
  }}
>
  {{~yield~}}
</div>