{{! template-lint-disable no-invalid-interactive }}
{{!
Issue affects `onclick` attribute
https://github.com/emberjs/rfcs/issues/497
}}
<div
  aria-multiselectable="{{this.isMultiSelectable}}"
  class="select-box__options"
  id={{this.id}}
  role={{if @selectBox.isCombobox "listbox"}}
  onclick={{@onclick}}
  ...attributes
  {{did-insert this.handleInsertElement}}
  {{will-destroy this.handleDestroyElement}}
>
  {{~yield~}}
</div>