{{! template-lint-disable no-positive-tabindex }}
{{#let (unique-id) as |id|}}
  <div
    aria-multiselectable="{{@aria-multiselectable}}"
    class="select-box__options"
    id={{id}}
    role="listbox"
    tabindex={{@tabindex}}
    ...attributes
    {{did-insert @onInsert}}
    {{will-destroy @onDestroy}}
    {{on "keydown" @onKeyDown}}
  >
    {{~yield~}}
  </div>
{{/let}}