{{! template-lint-disable no-positive-tabindex }}
{{-register-components
  this
  Option=(component
    "select-box/option"
    selectBox=this
    _onActivate=this.handleActivateOption
    _onSelect=this.handleSelectOption
    _onDestroy=this.handleDestroyOption
    _onInsert=this.handleInsertOption
  )
  Input=(component
    "select-box/input"
    selectBox=this
    _onInsert=this.handleInsertInput
    _onDestroy=this.handleDestroyInput
    _onInput=this.handleInputText
  )
  SelectedOptions=(component
    "select-box/selected-options"
    _onInsert=this.handleInsertSelectedOption
    _onDestroy=this.handleDestroyelectedOption
  )
  SelectedOption=(component
    "select-box/selected-option"
    _onInsert=this.handleInsertSelectedOption
    _onDestroy=this.handleDestroyelectedOption
  )
  Options=(component
    "select-box/options"
    selectBox=this
    _onInsert=this.handleInsertOptionsContainer
    _onDestroy=this.handleDestroyOptionsContainer
  )
  Group=(component "select-box/group")
}}
<div
  aria-activedescendant={{this.activeOption.id}}
  aria-busy={{if this.isBusy "true" "false"}}
  aria-disabled={{if this.isDisabled "true" "false"}}
  aria-expanded={{if this.isOpen "true" "false"}}
  aria-labelledby={{this.labelledBy}}
  aria-multiselectable={{if this.isMultiSelectable "true"}}
  aria-owns={{if this.isCombobox this.optionsContainer.id}}
  class="select-box"
  id={{this.id}}
  role={{this.role}}
  tabindex={{this.tabIndex}}
  ...attributes
  {{did-insert this.handleInsertElement}}
  {{did-update this.handleUpdateValue @value}}
  {{will-destroy this.handleDestroyElement}}
  {{on "focusout" this.handleFocusOut}}
  {{on "keydown" this.handleKeyDown}}
  {{on "keypress" this.handleKeyPress}}
>
  {{yield this.api}}
</div>