{{! template-lint-disable no-positive-tabindex }}
{{-register-components
  this
  Option=(component
    (ensure-safe-component this.SelectBoxOption)
    selectBox=this
    _onActivate=this.handleActivateOption
    _onSelect=this.handleSelectOption
    _onDestroy=this.handleDestroyOption
    _onInsert=this.handleInsertOption
  )
  Input=(component
    (ensure-safe-component this.SelectBoxInput)
    selectBox=this
    _onInsert=this.handleInsertInput
    _onDestroy=this.handleDestroyInput
    _onInput=this.handleInputText
  )
  SelectedOptions=(component
    (ensure-safe-component this.SelectBoxSelectedOptions)
    _onInsert=this.handleInsertSelectedOptions
    _onDestroy=this.handleDestroySelectedOptions
  )
  SelectedOption=(component
    (ensure-safe-component this.SelectBoxSelectedOption)
    _onInsert=this.handleInsertSelectedOption
    _onDestroy=this.handleDestroySelectedOption
  )
  Options=(component
    (ensure-safe-component this.SelectBoxOptions)
    selectBox=this
    _onInsert=this.handleInsertOptions
    _onDestroy=this.handleDestroyOptions
  )
  Group=(ensure-safe-component this.SelectBoxGroup)
}}
<div
  aria-activedescendant={{this.activeOption.id}}
  aria-busy="{{this.isBusy}}"
  aria-disabled="{{this.isDisabled}}"
  aria-expanded="{{this.isOpen}}"
  aria-labelledby={{this.labelledBy}}
  aria-multiselectable="{{this.isMultiSelectable}}"
  aria-owns={{if this.isCombobox this.options.id}}
  class="select-box"
  role={{this.role}}
  tabindex={{this.tabIndex}}
  ...attributes
  {{this.registerElement}}
  {{this.ready}}
  {{this.receiveValue @value}}
  {{on "focusout" this.handleFocusOut}}
  {{on "keyup" this.handleKeyUp}}
  {{on "keydown" this.handleKeyDown}}
  {{on "keypress" this.handleKeyPress}}
>
  {{yield this.api}}
</div>