{{! template-lint-disable no-positive-tabindex require-aria-activedescendant-tabindex no-pointer-down-event-binding }}
<div
  aria-activedescendant="{{@aria-activedescendant}}"
  aria-busy="{{@aria-busy}}"
  aria-controls="{{@aria-controls}}"
  aria-disabled="{{@aria-disabled}}"
  aria-expanded="{{@aria-expanded}}"
  class="select-box__trigger"
  role="{{@role}}"
  tabindex={{@tabindex}}
  {{did-insert @onInsert}}
  {{will-destroy @onDestroy}}
  {{on "mousedown" @onMouseDown}}
  {{on "keydown" @onKeyDown}}
  ...attributes
>
  {{~yield~}}
</div>