<div
  data-component="group"
  class={{concat this.className "__group"}}
  ...attributes
>
  <div class={{concat this.className "__group-label"}}>
    {{@label}}
  </div>
  <div class={{concat this.className "__group-options"}}>
    {{yield}}
  </div>
</div>