<div
  {{did-insert (action "_registerDomElement")}}
  {{will-destroy (action "_deregisterDomElement")}}
  {{on "mouseente" (action "_onMouseEnter")}}
  {{on "click" (action "_onClick")}}
  aria-busy={{if this.isPending "true" "false"}}
  aria-current={{if this.isActive "true" "false"}}
  aria-disabled={{if this.isDisabled "true" "false"}}
  aria-selected={{if this.isSelected "true" "false"}}
  class={{concat
    (select-box-class @classNamePrefix "option")
    (if this.isActive " is-active")
    (if this.isDisabled " is-disabled")
    (if this.isSelected " is-selected")
  }}
  role="option"
  ...attributes>
  {{~yield (hash
    index=this.index
    value=this.internalValue
    isPending=this.isPending
    isRejected=this.isRejected
    isFulfilled=this.isFulfilled
    isSettled=this.isSettled
    isSelected=this.isSelected
    isDisabled=this.isDisabled
  )~}}
</div>