<div
  data-component="selected-option"
  aria-current={{if this.isActive "true" "false"}}
  class={{this.className}}
  id={{this.id}}
  role="option"
  {{! Issue: https://github.com/emberjs/rfcs/issues/497 }}
  {{! template-lint-disable no-invalid-interactive }}
  onclick={{@onclick}}
  ...attributes
  {{did-insert this.handleInsertElement}}
  {{will-destroy this.handleDestroyElement}}
>
  {{~yield this.api~}}
</div>
