<div
  {{will-destroy (action "willDestroyElement")}}
  class={{select-box-class @classNamePrefix "selected-options"}}

  {{! Issue: https://github.com/emberjs/rfcs/issues/497 }}
  aria-activedescendant={{@aria-activedescendant}}
  onclick={{@onclick}}

  ...attributes>
  {{yield}}
</div>