<div
  {{did-insert (action "insertedElement")}}
  {{will-destroy (action "willDestroyElement")}}
  aria-current={{if this.isActive "true" "false"}}
  class={{concat
    (select-box-class @classNamePrefix "selected-option")
    (if this.isActive " is-active")
  }}

  {{! Issue: https://github.com/emberjs/rfcs/issues/497 }}
  onclick={{@onclick}}

  ...attributes>
  {{~yield (hash
    index=this.index
    value=this.internalValue
    isPending=this.isPending
    isRejected=this.isRejected
    isFulfilled=this.isFulfilled
    isSettled=this.isSettled
    isSelected=this.isSelected
    isDisabled=this.isDisabled
  )~}}
</div>