<div
  aria-current={{if this.isActive "true" "false"}}
  class={{concat
    (concat this.className "__selected-option")
    (if this.isActive (concat " " this.className "__selected-option--active"))
  }}
  id={{this.id}}
  role="option"
  {{! Issue: https://github.com/emberjs/rfcs/issues/497 }}
  {{! template-lint-disable no-invalid-interactive }}
  onclick={{@onclick}}
  ...attributes
  {{did-insert this.handleInsertElement}}
  {{will-destroy this.handleDestroyElement}}
>
  {{~yield this.api~}}
</div>