<h1>ember-cli-select-box</h1>

<p>
  {{link-to 'Native single select' 'native-single-select'}} |
  {{link-to 'Native multiple select' 'native-multiple-select'}} |
  {{link-to 'Native simple select' 'native-simple-select'}} |
  {{link-to 'Single select' 'single-select'}} |
  {{link-to 'Simple select' 'simple-select'}} |
  {{link-to 'Filter select' 'filter-select'}} |
  {{link-to 'Search select' 'search-select'}} |
  {{link-to 'Tag select' 'tag-select'}} |
  {{link-to 'Colour select' 'colour-select'}}
</p>

{{outlet}}
