<-BacktrackSelect
  @onSearch={{this.findBread}}
  @onSelect={{this.selectBread}}
  ...attributes as |sb results|>
  <sb.Options>
    {{#each results as |bread|}}
      <sb.Option @value={{bread}}>
        {{bread.name}}
      </sb.Option>
    {{/each}}
  </sb.Options>
</-BacktrackSelect>

<p>
  Selected bread: {{this.selectedBread.name}}
</p>