<p>
  Selected:
  {{this.selected.name}}
</p>

<SelectBox
  class="custom-trigger"
  @value={{@value}}
  @onChange={{this.handleSelect}}
  as |sb|
>
  <sb.Trigger>
    <CustomButton>
      {{if sb.value sb.value.name "None"}}
    </CustomButton>
  </sb.Trigger>
  {{#if sb.isOpen}}
    <sb.Options>
      {{#each this.data.pies as |value|}}
        <sb.Option @value={{value}}>
          {{value.name}}
        </sb.Option>
      {{/each}}
    </sb.Options>
  {{/if}}
</SelectBox>