<p>
  A listbox that mimics a native multiple select box with option groups
</p>

<p>
  Selected:
  {{this.selectedString}}
</p>

<Example2 @value={{this.selected}} @onChange={{this.handleSelect}} as |sb|>
  <sb.Group @label="Cakes">
    {{#each this.data.cakes as |cake|}}
      <sb.Option @value={{cake}}>
        {{cake.name}}
      </sb.Option>
    {{/each}}
  </sb.Group>
  <sb.Group @label="Biscuits">
    {{#each this.data.biscuits as |biscuit|}}
      <sb.Option @value={{biscuit}}>
        {{biscuit.name}}
      </sb.Option>
    {{/each}}
  </sb.Group>
</Example2>