<p>
  A combobox that mimics a native select box, but which allows multiple
  selection. (There is no analogous control)
</p>

<p>
  Selected:
  {{this.selectedString}}
</p>

<Example4
  @value={{this.selected}}
  @options={{this.data.pies}}
  @onChange={{this.handleSelect}}
>
  <:trigger>
    Pies
  </:trigger>
  <:option as |option|>
    {{option.name}}
  </:option>
</Example4>