<p>
  A variation of combobox with an input for asynchronous searching
</p>

<p>
  Selected:
  {{this.selected.name}}
</p>

<Example7
  @onSearch={{this.search}}
  @onChange={{this.handleSelect}}
  @placeholder="Search..."
>
  <:busy>
    Please wait...
  </:busy>
  <:option as |option|>
    {{option.name}}
  </:option>
  <:noOptions as |query|>
    No pies match "{{query}}"
  </:noOptions>
</Example7>