<p>
  A variation of combobox with an input for synchronous filtering
</p>

<p>
  Selected:
  {{this.selected.name}}
</p>

<Example6
  @value={{this.selected}}
  @onSearch={{this.handleSearch}}
  @onChange={{this.handleSelect}}
>
  <:trigger as |value|>
    {{if value value.name "None"}}
  </:trigger>
  <:option as |option|>
    {{option.name}}
  </:option>
  <:noOptions as |query|>
    No pies match "{{query}}"
  </:noOptions>
</Example6>