<p>
  A combobox that mimics a native single select box
</p>

<p>
  Selected:
  {{this.selected.name}}
</p>

<Example3
  @value={{this.selected}}
  @options={{this.data.pies}}
  @onChange={{this.handleSelect}}
>
  <:trigger as |value|>
    {{if value value.name "None"}}
  </:trigger>
  <:option as |option|>
    {{option.name}}
  </:option>
</Example3>