<p>
  Demonstration of a select-box component, but using HTML &lt;option&gt; instead of \{{option}} components.<br>
  Which can be faster because constructing components is expensive.
  <a href="https://github.com/zestia/ember-select-box/blob/master/tests/dummy/app/templates/fast-native-single-select.hbs">template.hbs</a>
</p>

{{#select-box/native on-select=(action "selectModelId")}}
  {{#each options as |option|}}
    {{! Intentionally does not use sb.option }}
    <option value={{option.model.id}} selected={{option.selected}}>
      {{option.model.name}}
    </option>
  {{/each}}
{{/select-box/native}}


<p>
  Selected model: {{selectedModel.name}}
</p>