<p>
  Demonstration of a select-box component, but using HTML <code>&lt;option&gt;</code> instead of <code>&lt;Option&gt;</code> components.
  <br>
  Which can be faster because constructing components is expensive.
  <a
    href="https://github.com/zestia/ember-select-box/blob/master/tests/dummy/app/templates/fast-native-single-select.hbs"
  >
    template.hbs
  </a>
</p>

<NativeSelectBox @onSelect={{this.selectModelId}}>
  {{#each this.options as |o|}}
    {{! Intentionally does not use sb.Option }}
    <option value={{o.model.id}} selected={{o.selected}}>
      {{o.model.name}}
    </option>
  {{/each}}
</NativeSelectBox>

<p>
  Selected model: {{this.selectedModel.name}}
</p>