<p>
  Demonstration of a faux select box with an input element that can be used for
  filtering the available options.
</p>

<p>
  <a
    href="https://github.com/zestia/ember-select-box/blob/master/tests/dummy/app/components/filter-select.js"
  >
    js
  </a>
  |
  <a
    href="https://github.com/zestia/ember-select-box/blob/master/tests/dummy/app/templates/components/filter-select.hbs"
  >
    hbs
  </a>
</p>

<FilterSelect
  @labelKey="name"
  @onSearch={{this.filterPies}}
  @onSelect={{this.selectPie}}
  as |sb results|
>
  {{#each results as |pie|}}
    <sb.Option @value={{pie}}>
      {{pie.name}}
    </sb.Option>
  {{else}}
    <sb.Option>
      No pies found
    </sb.Option>
  {{/each}}
</FilterSelect>

<p>
  Selected pie:
  {{this.selectedPie.name}}
</p>