{{#native-simple-select
  value=selectedBiscuit
  on-select=(action 'selectedBiscuit') as |sb|}}
  {{#each selectableBiscuits as |biscuit|}}
    {{sb.option value=biscuit label=biscuit.name}}
  {{/each}}
{{/native-simple-select}}


{{#native-simple-select as |sb|}}
  {{sb.option value=1}}
  {{sb.option value=2}}
  {{sb.option value=3}}
  {{sb.option value=4}}
  {{sb.option value=5}}
  {{sb.option value=5}}
  {{sb.option value=7}}
  {{sb.option value=8}}
  {{sb.option value=10}}
{{/native-simple-select}}



<p>
  Selected biscuit: {{selectedBiscuit.name}}
</p>
