<p>
  Demonstration of a native multiple select box with groups.
  <a href="https://github.com/zestia/ember-select-box/blob/master/tests/dummy/app/templates/native-multiple-select.hbs">template.hbs</a>
</p>

<NativeSelectBox
  size="12"
  @multiple={{true}}
  @value={{this.selectedDesserts}}
  @onSelect={{action "selectedDesserts"}} as |sb|>
  <sb.group label="Pastries">
    {{#each this.selectablePastries as |pastry|}}
      <sb.option @value={{pastry}}>
        {{pastry.name}}
      </sb.option>
    {{/each}}
  </sb.group>
  <sb.group label="Biscuits">
    {{#each this.selectableBiscuits as |biscuit|}}
      <sb.option @value={{biscuit}}>
        {{biscuit.name}}
      </sb.option>
    {{/each}}
  </sb.group>
</NativeSelectBox>

<p>
  Selected desserts:
</p>

<ul>
  {{#each this.selectedDesserts as |dessert|}}
    <li>{{dessert.name}}</li>
  {{/each}}
</ul>