<p>
  Demonstration of a native select box with a custom display-label, which is
  useful for styling.
</p>

<p>
  <a
    href="https://github.com/zestia/ember-select-box/blob/master/tests/dummy/app/components/native-simple-select.js"
  >
    js
  </a>
  |
  <a
    href="https://github.com/zestia/ember-select-box/blob/master/tests/dummy/app/templates/components/native-simple-select.hbs"
  >
    hbs
  </a>
</p>

<NativeSimpleSelect
  @value={{this.selectedBiscuit}}
  @onSelect={{this.selectBiscuit}}
  as |sb|
>
  {{#each this.selectableBiscuits as |biscuit|}}
    <sb.Option @value={{biscuit}}>
      {{biscuit.name}}
    </sb.Option>
  {{/each}}
</NativeSimpleSelect>

<p>
  Selected biscuit:
  {{this.selectedBiscuit.name}}
</p>