<p>
  Demonstration of a native select box, that can have non-primitive values. Useful for assigning Ember Data models to each option.
  <a href="https://github.com/zestia/ember-select-box/blob/master/tests/dummy/app/templates/native-single-select.hbs">template.hbs</a>
</p>

<NativeSelectBox
  @value={{this.selectedDessert}}
  @onSelect={{action "selectedDessert"}} as |sb|>
  <sb.Group label="Cakes">
    {{#each this.selectableCakes as |cake|}}
      <sb.Option @value={{cake}}>
        {{cake.name}}
      </sb.Option>
    {{/each}}
  </sb.Group>
  <sb.Group label="Puddings">
    {{#each this.selectablePuddings as |pudding|}}
      <sb.Option @value={{pudding}}>
        {{pudding.name}}
      </sb.Option>
    {{/each}}
  </sb.Group>
</NativeSelectBox>


<p>
  Selected dessert: {{this.selectedDessert.name}}
</p>