<p>
  Demonstration of a native select box with a custom display-label, which is useful for styling.
  <a href="https://github.com/zestia/ember-select-box/blob/master/tests/dummy/app/components/native-simple-select.js">component.js</a> |
  <a href="https://github.com/zestia/ember-select-box/blob/master/tests/dummy/app/templates/components/native-simple-select.hbs">template.hbs</a>
</p>

<NativeSimpleSelect
  @value={{this.selectedBiscuit}}
  @on-select={{action "selectedBiscuit"}} as |sb|>
  {{#each this.selectableBiscuits as |biscuit|}}
    <sb.option @value={{biscuit}}>
      {{biscuit.name}}
    </sb.option>
  {{/each}}
</NativeSimpleSelect>

<p>
  Selected biscuit: {{this.selectedBiscuit.name}}
</p>