<p>
  Selected:
  {{this.selected.name}}
</p>

<SelectBox
  class="example3"
  @value={{@value}}
  @onChange={{this.handleSelect}}
  as |sb|
>
  <sb.Dropdown as |dd|>
    <sb.Trigger>
      {{if sb.value sb.value.name "None"}}
    </sb.Trigger>
    {{#if dd.isOpen}}
      <sb.Content>
        <sb.Options>
          {{#each this.data as |value|}}
            <sb.Option @value={{value}}>
              {{value.name}}
            </sb.Option>
          {{/each}}
        </sb.Options>
      </sb.Content>
    {{/if}}
  </sb.Dropdown>
</SelectBox>