<p>
  Demonstration of faux select box that runs before displaying available options.
  <a href="https://github.com/zestia/ember-select-box/blob/master/tests/dummy/app/components/search-select.js">component.js</a> |
  <a href="https://github.com/zestia/ember-select-box/blob/master/tests/dummy/app/templates/components/search-select.hbs">template.hbs</a>
</p>

<SearchSelect
  @on-search={{action "findBread"}}
  @on-select={{action "selectedBread"}} as |sb newBread|>
  {{#each this.selectableBreads as |bread|}}
    <sb.option @value={{bread}}>
      {{bread.name}}
    </sb.option>
  {{else}}
    <sb.option @click={{action "addNewBread" newBread}}>
      No bread found<br>
      Add {{newBread}}...
    </sb.option>
  {{/each}}
</SearchSelect>


<p>
  Selected bread: {{this.selectedBread.name}}
</p>

<p>
  New bread: {{this.newBread}}
</p>