<p>
  Selected bread: {{selectedBread.name}}
</p>

<p>
  New bread: {{newBread}}
</p>

{{#search-select
  on-search=(action 'findBread')
  on-select=(action 'selectedBread') as |sb newBread|}}
  {{#each selectableBreads as |bread|}}
    {{sb.option value=bread label=bread.name}}
  {{else}}
    {{#sb.option click=(action 'addNewBread' newBread)}}
      No bread found<br>
      Add {{newBread}}...
    {{/sb.option}}
  {{/each}}
{{/search-select}}