<p>
  Demonstration of faux select box that runs before displaying available options.
</p>

<p>
  <a
    href="https://github.com/zestia/ember-select-box/blob/master/tests/dummy/app/components/search-select.js"
  >
    js
  </a>
  |
  <a
    href="https://github.com/zestia/ember-select-box/blob/master/tests/dummy/app/templates/components/search-select.hbs"
  >
    hbs
  </a>
</p>

<SearchSelect
  @onSearch={{this.findBread}}
  @onSelect={{this.selectBread}} as |sb results newBread|
>
  {{#each results as |bread|}}
    <sb.Option @value={{bread}}>
      {{bread.name}}
    </sb.Option>
  {{else}}
    <sb.Option @onSelect={{fn this.addNewBread newBread}}>
      No bread found, add {{newBread}}...
    </sb.Option>
  {{/each}}
</SearchSelect>

<p>
  Selected bread: {{this.selectedBread.name}}
</p>

<p>
  New bread: {{this.newBread}}
</p>