<p>
  Demonstration of faux select box that can be opened and closed, and is
  keyboard navigatable.
  <br />
  Typing characters will jump to an appropriate option, to mimic native select
  box behaviour.
</p>

<p>
  <a
    href="https://github.com/zestia/ember-select-box/blob/master/tests/dummy/app/components/simple-select.js"
  >
    js
  </a>
  |
  <a
    href="https://github.com/zestia/ember-select-box/blob/master/tests/dummy/app/templates/components/simple-select.hbs"
  >
    hbs
  </a>
</p>

<SimpleSelect
  @value={{this.selectedPudding}}
  @onSelect={{this.selectPudding}}
  as |sb|
>
  <sb.Trigger>
    {{#if sb.value}}
      {{sb.value.name}}
    {{else}}
      None
    {{/if}}
  </sb.Trigger>
  <sb.Dropdown>
    {{#each this.selectablePuddings as |pudding|}}
      <sb.Option @value={{pudding}}>
        {{pudding.name}}
      </sb.Option>
    {{/each}}
  </sb.Dropdown>
</SimpleSelect>

<p>
  Selected pudding:
  {{this.selectedPudding.name}}
</p>