<p>
  Demonstration of faux select box that can be opened and closed, and is keyboard navigatable.<br>
  Typing characters will jump to an appopriate option, to mimic native select box behaviour.
  <a href="https://github.com/zestia/ember-select-box/blob/master/tests/dummy/app/components/simple-select.js">component.js</a> |
  <a href="https://github.com/zestia/ember-select-box/blob/master/tests/dummy/app/templates/components/simple-select.hbs">template.hbs</a>
</p>

<SimpleSelect
  @value={{this.selectedPudding}}
  @label-key="name"
  @on-select={{action "selectedPudding"}} as |sb|>
  {{#each this.selectablePuddings as |pudding|}}
    <sb.option @value={{pudding}}>
      {{pudding.name}}
    </sb.option>
  {{/each}}
</SimpleSelect>


<p>
  Selected pudding: {{this.selectedPudding.name}}
</p>