<p>
  Demonstration of a no-frills faux select box.
  <a href="https://github.com/zestia/ember-select-box/blob/master/tests/dummy/app/templates/single-select.hbs">template.hbs</a>
</p>

<SelectBox
  @classNamePrefix="single-select"
  @value={{this.selectedBread}}
  @onSelect={{this.selectBread}} as |sb|>

  <sb.Option @value={{this.bloomer}} @onSelect={{this.action1}}>
    {{this.bloomer.name}} (Misc action 1)
  </sb.Option>

  <sb.Option @value={{this.brioche}} @onSelect={{this.action2}}>
    {{this.brioche.name}} (Misc action 2)
  </sb.Option>

  {{#each this.selectableBreads as |bread|}}
    <sb.Option @value={{bread}}>
      {{bread.name}}
    </sb.Option>
  {{/each}}
</SelectBox>


<p>
  Selected bread: {{this.selectedBread.name}}
</p>

<p>
  Called misc action 1: {{this.performedAction1}}
</p>

<p>
  Called misc action 2: {{this.performedAction2}}
</p>