<p>
  Demonstration of a no-frills faux select box
</p>

{{#select-box
  value=selectedBread
  class="single-select"
  on-select=(action "selectedBread") as |sb|}}

  {{#sb.option value=bloomer on-select=(action "action1")}}
    {{bloomer.name}} (Misc action 1)
  {{/sb.option}}

  {{#sb.option value=brioche on-select=(action "action2")}}
    {{brioche.name}} (Misc action 2)
  {{/sb.option}}

  {{#each selectableBreads as |bread|}}
    {{#sb.option value=bread}}
      {{bread.name}}
    {{/sb.option}}
  {{/each}}
{{/select-box}}


<p>
  Selected bread: {{selectedBread.name}}
</p>

<p>
  Called misc action 1: {{action1}}
</p>

<p>
  Called misc action 2: {{action2}}
</p>