<p>
  Demonstration of a no-frills faux select box.
  <a href="https://github.com/zestia/ember-select-box/blob/master/tests/dummy/app/templates/single-select.hbs">template.hbs</a>
</p>

<SelectBox
  class="single-select"
  @value={{this.selectedBread}}
  @onSelect={{action "selectedBread"}} as |sb|>

  <sb.option @value={{this.bloomer}} @onSelect={{action "action1"}}>
    {{this.bloomer.name}} (Misc action 1)
  </sb.option>

  <sb.option @value={{this.brioche}} @onSelect={{action "action2"}}>
    {{this.brioche.name}} (Misc action 2)
  </sb.option>

  {{#each this.selectableBreads as |bread|}}
    <sb.option @value={{bread}}>
      {{bread.name}}
    </sb.option>
  {{/each}}
</SelectBox>


<p>
  Selected bread: {{this.selectedBread.name}}
</p>

<p>
  Called misc action 1: {{this.action1}}
</p>

<p>
  Called misc action 2: {{this.action2}}
</p>