<p>
  Demonstration of rendering selected options.
  <a href="https://github.com/zestia/ember-select-box/blob/master/tests/dummy/app/components/tag-select.js">component.js</a>
  |
  <a href="https://github.com/zestia/ember-select-box/blob/master/tests/dummy/app/templates/components/tag-select.hbs">template.hbs</a>
</p>

<TagSelect
  @value={{this.selectedTagNames}}
  @onTag={{this.tag}}
  @onDeTag={{this.detag}}
  @onSearch={{this.findTags}}
/>

<p>
  Selected tags:
</p>

<ul>
  {{#each this.selectedTags as |tag|}}
    <li>
      id = {{tag.id}}, name= {{tag.name}}
    </li>
  {{/each}}
</ul>