<div
  aria-busy="{{this.isPending}}"
  aria-current="{{this.isActive}}"
  aria-disabled="{{this.isDisabled}}"
  aria-selected="{{this.isSelected}}"
  class="select-box__option"
  id={{this.id}}
  role="option"
  ...attributes
  {{this.registerElement}}
  {{this.lifecycleActions}}
  {{this.receiveValue @value}}
  {{on "mouseenter" this.handleMouseEnter}}
  {{on "focus" this.handleFocus}}
  {{on "click" this.handleClick}}
>
  {{~yield this.api~}}
</div>