{{! template-lint-disable no-positive-tabindex no-pointer-down-event-binding }}
<div
  id={{this.id}}
  aria-current="{{this.isActive}}"
  aria-disabled="{{this.isDisabled}}"
  aria-selected="{{this.isSelected}}"
  class={{concat "select-box__option" (if @class (concat " " @class))}}
  role="option"
  tabindex={{@tabindex}}
  ...attributes
  {{did-insert this.handleInsertElement}}
  {{will-destroy this.handleDestroyElement}}
  {{on "mouseenter" (fn @onMouseEnter this)}}
  {{on "mousedown" @onMouseDown}}
  {{on "keydown" @onKeyDown}}
  {{on "mouseup" (fn @onMouseUp this)}}
  {{on "focusin" (fn @onFocusIn this)}}
>
  {{~yield this.api~}}
</div>